langchain
langchain-openai
langchain-community
langchain-pinecone
langgraph
isort
python-dotenv
langchainhub
black
pypdf
faiss-cpu
langchain_chroma
langchain_tavily
jupyter
notebook
py-zerox
nest_asyncio
unstructured[md]